body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.secretBoard{
    border: 1px solid black;
}
.userName{
    margin-top:-.15%;
    margin-right: 18px;
}