body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.secretBoard{
    
}
.userName{
    margin-top:-.15%;
    margin-right: 18px;
}
.logoutbtn{
    color:black;
    margin-left:15%;
    margin-top: 225px;
}
.board {
    
    
}
.boardContainer {
    
}
img{
    width:20%;
}
.card-content{
    color: black !important; 
}