@model SecretWordModel

@{
    ViewData["Title"] = "Secret Word";
}




<h2 class="secretWord center">@Model.Word</h2>


<h2 class="secretWord center"></h2>
<div class="row">
<div class="secretBoard col s12">
    <form asp-action="AddWord" asp-controller="Home" method="post">
        <div class="input-field">

            <input type="text" class="validate" name="SecretWord">
            <label>Enter Secret Message</label>
            <input  type="submit" class="waves-effect waves-light btn" value="Save Word"/>
        </div>
    </form>
        

</div>
</div>