@model IEnumerable<SecretWord.Models.SecretWordModel>

@{
    ViewData["Title"] = "Secret Word";
}

@foreach (var item in Model)
{
    <h2 class="secretWord center">@item.Word</h2>

}
<h2 class="secretWord center"></h2>
<div class="row">
<div class="secretBoard col s12">
    <div class="input-field">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Enter Secret Message</label>
    </div>
    <a href="/Home/AddWord" class="waves-effect waves-light btn">Save Word</a>
</div>
</div>